.pool-group {
  position: relative;
  width: 80%;
  padding-top: 50px;
  clear: both;
}

.select-button {
	background-color: #ddffdd;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin-left: 100px;
	cursor: pointer;
}

.veto-button {
	background-color: #ffdddd;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin-left: 100px;
	cursor: pointer;
}
