.card {
	float: left;
	position: relative;
	width: 200px;
	height: 360px;
	margin: 5px;

	img {
		position: absolute;
		left: 0px;
		width: 100%;
	}
}

.card-info {
	background: white;
	opacity: 0.75;
	position: absolute;
	text-align: center;
	left: 0px;
	width: 100%;
}
