.timer {
  text-align: center;
  padding: 15px;
  font-size: 2rem;
  display: inline-block;
  border: 3px solid gray;
  background: #888;

  &.danger {
    border: 3px solid red;
  }

  position: fixed;
  right: 15px;
  top: 15px;
}
